*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: 0;
}

.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-height: auto;

}

.container-movies{
	min-height: 50vh;
  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}